# Logs
*.log
npm-debug.log*
__screenshots__/

# Dependencies
node_modules/

# Cache
tsconfig.tsbuildinfo
.cache
dist/
temp/
build/
coverage/
.pnpm-store/

# OS crap
.DS_Store

# Editors
.vscode/
.devcontainer/
